body 
{
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #e5e5e5;
}

form 
{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userName
{
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"]
{
    background-color: #e50914;
    color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item
{
    text-align: center;
    box-shadow: 0px 0px 10px #e50914;
    width: 300px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userInfo
{
    margin-bottom: 10px;
    outline: none;
}

.form-section
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.form-section h1 
{
    margin-top: 0;
    padding-top: 50px;
}

.form-section label 
{
    margin-right: 10px;
}

.form-section input[type="number"]
{
    font-size: 18px;
    text-align: center;
    outline: none;
}
